

@import "_norm";
@import"_swiper";


@charset "UTF-8";

a{
  color: inherit!important;
}
ul{
  margin: 0!important;
  padding: 0!important;
}
li{
  margin: 0;
  padding: 0;
  color: inherit!important;
}
*{
  font-family: 'Aven';
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
}


:root {
  --swiper-theme-color: #EB1933;
}
@font-face {
  font-family: 'Aven';
  src: url("../fonts/AvenirNextCyr-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aven';
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
  font-weight: 400;

}
@font-face {
  font-family: 'Aven';
  src: url("../fonts/AvenirNextCyr-Medium.ttf");
  font-weight: 450;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white !important;
}


.menu-cont{display:none;}
.header-menu{display:none;}
.header-menu__icon{display:none;}
.header-menu-item{display:none;}
@media (max-width:767px){
  .header-cont{
    
    display: flex;
    justify-content: space-between;
    
  }
  .menu-cont{
    display:flex;
    width: 68px;
    height: 18px;
    justify-content: space-between;
    align-items: center;
  }
  .social-block-768{
    width: 116px;
    display: flex;
    img{
      width: 25px;
      height: 28px;
    }
    justify-content: space-between;
  }
  .header-menu-item{
    position: relative;
    z-index: 10000;
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 15px;
    line-height: 155%;
    color: #FCFDFF;
    text-transform: uppercase;
    display:flex;
  }
   .header-menu__icon{
      display: block;
      position: relative;
      width:16px;
      height:12px;
      z-index: 10000;
      cursor:pointer;
      span{transition-duration: 0.3s; position:absolute; top:5px;left:0px;width:100%;height:2px;background-color:rgb(228, 228, 228);
         &:first-child{top:0px;}
         &:last-child{top: auto;bottom:0px;}
          }
          /*
          span{
            transform: scale(0); 
                &:first-child{top: 8px;transform: rotate(-45deg); transition: top 0.2s linear, transform 0.2s ease-in 0.2s;}
                &:last-child{bottom: 8px;transform: rotate(45deg);transition: top 0.2s linear, transform 0.2s ease-in 0.2s;}
            }


          */
                
      }
   .header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
      width: 100%;
      height: fit-content;
      overflow:auto;
      left: -1064px;
      top:0;
      background-color: #ffffff;
      padding: 65px 0px 20px 0px;
      background: linear-gradient(257.63deg, #342183 2.35%, #8228DC 98.49%);
     
      .header-halv{
        margin: 100px 0px 140px 0px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
        .header-collumn{
          margin: 0px 0px 40px 0px;
          width: fit-content;
        }
       }
      .header-top-menu-item{
         .header-top-menu-item-item{
            color: black;
            &::after{
               content: '';
               position: absolute;
               border: 1px solid rgba(216, 216, 216, 0.2);
               left: 0;
               bottom: 0;
               width: 100%;
            }
         }
      }
      &.active {
         z-index:4;
         transition-duration: 0.6s;
         width: 100vw;
         left: -30px;
         top: -20px;
      }
   }
}
.hidden{
  display: none;
}
.active{
   .header-bottom-menu{
      &__link {
         margin: 20px;
   &:hover{
      &::after{
         width: 130px;
      }
   }
}
   }
}
.active{
   .content-menu{
      &__link {
         margin: 20px;

   &:hover{
      &::after{
         width: 130px;
      }
   }
}
   }
}







a {
  text-decoration: none !important;

}

nav {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none !important;
}
.ibg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.mainblock__image {
  background-size: cover;
}

.header-nav__link{
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 17.45px;
  font-family: 'Aven';
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  &:hover{
    &:after{
      content: '';
      position: absolute;
      bottom: -4.89px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #FFFFFF;
      
    }
/*  &_log{
    //transition-duration: 5s;
    &:hover{
      &:after{
        content: '';
        position: absolute;
        bottom: -4.89px;
        left: 0;
        width: 45px;
        height: 1px;
        background-color: #FFFFFF;
        
      }
    }*/
   /* &:after{
      content: '';
      position: absolute;
      bottom: -4.89px;
      left: 0;
      width: 45px;
      height: 1px;
      background-color: #FFFFFF;
    }*/
  }

}

.content__button{
  .button{
    color: rgba(54, 48, 120, 1);
  }
  border-width:0px!important;
  font-family: 'Dosis';
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  @media(max-width:1024px){
    margin: 0px 0px 70px 0px;
  }
  @media(max-width:767px){
    margin: 0px auto 131px auto;
  }
  background: #FFFFFF;
box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.2);
border-radius: 40px;
width: fit-content;
display: flex;
align-items: center;
}
.button {
  font-size: 20px;
  @media(max-width:1440px){
    font-size: 18px;
    white-space: nowrap;
    padding: 22px 28px 22px 40px;
  }
  @media(max-width:767px){
    position: relative;
    z-index: 5;
   }
  padding: 24px 35px 24px 32px;
}

.swiper-pagination-fraction{
  color:rgba(34, 42, 63, 1);
}
.swiper-pagination-current{
  color:rgba(34, 42, 63, 1);
}
.swiper-pagination-total{
  color:rgba(34, 42, 63, 1);
}
.navforslider {
  position: absolute;
  top: 50%;
  width: 100%;

}
.swiper-button-prev {
 img{
  transform: scale(-1, 1);
 }
}
.swiper-pagination {
}
.swiper-button-next {
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}


.item-slider__slide{
  
  height: fit-content;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(39, 39, 39, 0.6);
    z-index: 0;
}
  &:hover{
    &:before {
      width: 11px;
      height: 11px;
      margin: auto;
      background-color: rgba(39, 39, 39, 0.7);
      padding: 25px 27px 25px 27px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  &:after {
    top: 0;
    content: url('/img/search.svg');
    position: absolute;
    width: 11px;
    height: 11px;
    margin: auto;
    
    padding: 25px 27px 25px 27px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  }
  
}

.proj-slide{
  padding: 0px 10px;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 130%;
  /* identical to box height, or 16px */
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  
  color: #FFFFFF;
}

  // font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));







/*

  // картинка выпадает из контейнера

  .wrapper-imageblock {
    background-color: rgb(49, 49, 49);
  }
  @media(min-width: 767px){
    .section{
      display: flex;
    }
  }
  .section {
    overflow: hidden;
  
      &__content {
        flex: 0 0 100%;
        display: flex;
      }
  
      &__container {
        max-width: 1360px;
        padding: 0px 20px;
        margin: 0px auto;
        background-color: cadetblue;
        display: flex;
        align-items: center;
      }
  
      &__body {

        padding: 50px 0px 50px 0px;
      }
  
      &__title {
        font-size: 40px;
        margin: 0px 0px 20px 0px;
      }
  
      &__text {
        line-height: 130%;
        font-size: 16px;
      }
  
      &__image {
        img{
          max-width: 100%;
        }
        
      }
  }
  .section__image img{
    max-width: 100%;
  }
  @media(min-width:767px){
    .section__body{
      padding: 50px 20px 50px 0px;
      width: 40%;
    }
  }
@media(min-width:767px){
.section__image{
  position: relative;
  flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
  //flex: 0 0 50%;
  padding: 0 0 44.5% 0;
  transform: translate(-100%, 0px);
}

.section__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
  }
  
  @media(min-width: 1360px){
    .section__image{
      flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4) + 20px));
      //flex: 0 0 calc(50vw - (0.4 - 0.5) * (1360px - 40px));
    }
  }
*/

  //адаптив шрифтов

  $maxWidth: 1600;
  @mixin ad-font ($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
      font-size:  calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 768px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
      font-size:  calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
  }
//пример использования
// @include ad-font(40, 24);


.header-main {
width: 100%;
position:relative;
z-index: 1;

  &__halv{
    display: flex;
  }
  &__cont {
    //
   // background-color: rgb(129, 129, 129);
    //
    display: flex;
    position: absolute;
    top: 0px;
    margin: 30px 78px 0px 50px;
    margin-top: calc(15px + (30 - 15) * ((100vw - 1024px) / (1600 - 1024)));
    margin-left: calc(15px + (50 - 15) * ((100vw - 1024px) / (1600 - 1024)));
    margin-right: calc(100px + (153 - 100) * ((100vw - 1024px) / (1600 - 1024)));
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: baseline;
  }

  &__collumn {
    display: flex;
    &:first-child{
      margin-right: calc(20px + (135 - 20) * ((100vw - 1024px) / (1600 - 1024)));
    }

    ul{
       display: flex;
    }

    &_num{
      
    }
  }

  &__logo {
    height: fit-content;
  }

  &__phone {
    display: grid;
    gap: 10px;
    margin: 5px 0px;
    a{
      line-height: 17.45px;
    }
  }
  &__num{
    letter-spacing: 0.1em;
    white-space: nowrap;
  }

  &__item {

    margin: 0px calc(10px + (25 - 10) * ((100vw - 1140px) / (1600 - 1140))) 0px calc(10px + (25 - 10) * ((100vw - 1140px) / (1600 - 1140)));
    @media(min-width:1600px){
      margin: 0px 25px 0px 25px;
    }
/*
      &:first-child{
        margin: 0px 25px 0px 0px;
      }
      &:last-child{
        margin: 0px 0px 0px 25px;
      }
      */
  }
}


.wrappper {
  position: relative;
}
.preview-block{
  display: flex;
}
.preview-container {
  width: -webkit-fill-available;
  position: relative;
  display: flex;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(39, 39, 39, 0.4);
    z-index: 0;
  }
}
.preview-block__halv_left{
  max-width: 1244px;
  margin: 0px auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.preview-block__halv_right{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
}
.preview-block__fone {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: -1;
}
.preview-block__wrap {
  padding-top: calc(200px + (311 - 200) * ((100vw - 1024px) / (1600 - 1024)));
 // padding-left: calc(40px + (178 - 40) * ((100vw - 1140px) / (1600 - 1140)));
//  padding-right: 0px;
  padding-bottom: calc(40px + (229 - 40) * ((100vw - 1024px) / (1600 - 1024)));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 0px 52px;
 /* @media(max-width:1140px){
    padding: 200px 40px 100px 40px;
  }*/
}
.preview-block__row {
  width: 50%;
  .preview-block__title{
    text-align: start;
    white-space: nowrap;
    font-size: calc(30px + (46 - 30) * ((100vw - 768px) / (1600 - 768)));
    font-weight: 450;
    //font-size: 46px;
    line-height: 56px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
  }
  .preview-block__text{
    &_h3{
      font-style: normal;
font-weight: 300;
font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1600 - 768)));
line-height: 25px;
@include ad-font(20, 24);
/* identical to box height */


color: #FFFFFF;
margin: 0px 0px 20px 0px;
    }
    &_h4{
      font-style: normal;
font-weight: normal;
font-size: calc(14px + (15 - 14) * ((100vw - 768px) / (1600 - 768)));
line-height: 130%;
/* or 19px */

color: #FFFFFF;
margin: 0px 0px 40px 0px;
    }
      }
    
}

.more_btn{
  outline: none!important;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  /* border: 1px solid transparent; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-weight: 450;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #272727;
  padding: 13px 20px;
  border: 1px solid #272727;
  background-color: #fff;
  border-radius: 0px;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: "";
    background-image: url(../img/arrow.svg);
    width: 13px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0px 6.5px 0px 6.5px;
    margin: 0px 0px 0px 10px;
  }
}

.preview-block__collumn {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 0px 30px;
  padding-top: calc(20px + (30 - 20) * ((100vw - 1024px) / (1600 - 1024)));
  padding-right:calc(30px + (50 - 30) * ((100vw - 1024px) / (1600 - 1024)));
  padding-left: calc(20px + (30 - 20) * ((100vw - 1024px) / (1600 - 1024)));
  align-items: center;
}
.preview-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_description{
    width: fit-content;
    font-family: 'Aven';
    font-weight: 450;
    font-size: 14px;
    letter-spacing: 0.4em;
    color: #272727;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  &:first-child{
    margin: 0px 0px 28px 0px;
    position: relative;
  }
  
  }
  &_line{
    width: 1px;
    height: 40px;
    background: #DDDDDD;
    margin: 0px 0px 15px 0px;
  }
}
.social-block {
}
.social-block__item {
  margin: 15px 0px;
}


.grid {
  max-width: 1244px;
  margin: 0px auto;
  padding: 0px 40px;
  box-sizing: content-box;
}
.wrapper__menu {
  margin: calc(40px + (120 - 40) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px 0px;
  @media(max-width:1024px){
    margin: 40px 0px 0px 0px;
  }
}
.menu__row {
  display: flex;
  width: -webkit-fill-available;
  color: #272727;
  position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: calc(100% - 22px);
      height: 0.5px;
      margin: 0px auto;
      background-color: #DDDDDD;
    }
}
.menu__collumn {
margin: 0px calc(10px + (30 - 10) * ((100vw - 1024px) / (1600 - 1024)));
display: flex;
position: relative;
@media(min-width:1600px){
  margin: 0px 30px;
}

  &:first-child{
    margin: 0px calc(10px + (30 - 10) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px;
    @media(min-width:1600px){
      margin: 0px 30px 0px 0px;
    }
  }
  &:last-child{
    margin: 0px 0px 0px calc(10px + (30 - 10) * ((100vw - 1024px) / (1600 - 1024)));
    @media(min-width:1600px){
      margin: 0px 0px 0px 30px;
    }
  }
  &:hover{
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      margin: 0px auto;
      background-color: #272727;
    }
  }
}
.menu__link {
font-family: 'Aven';
font-weight: 400;
font-size: 14px;
line-height: 130%;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
@media(max-width:1440px){
  font-size: 12px;
}
}



.wrapper__info-img {
  position: relative;
  margin: 81px 0px 0px 0px;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(39, 39, 39, 0.6);
    z-index: 0;
}
}
.ibg {
}
.preview-block__fone {
}
.hidden {
}
.info-block {
  padding: 85px 0px 85px 0px;
  margin: auto;
  max-width: 616px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.info-block__text {
  padding: 0px 0px 40px 0px;
  font-size: 15px;
line-height: 130%;
font-weight: 400;
text-align: center;
color: #FFFFFF;
}
.preview-block__row {
}
.more_btn_black {
  background: #272727;
  border: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
  &:after{
    filter: invert(1);
  }
}


.wrapper__benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: calc(50px + (200 - 50) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px 0px;
  @media(min-width:1600px){
    margin: 200px 0px 0px 0px;
  }
  @media(max-width:1024px){
    margin: 50px 0px 0px 0px;
  }
}
.benefit__halv {
  &:last-child{
    display: flex;
    justify-content: space-between;
    margin: calc(30px + (60 - 30) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px 0px;
    @media(min-width:1600px){
      margin: 60px 0px 0px 0px;
    }
    @media(max-width:1024px){
      margin: 30px 0px 0px 0px;
    }
  }
}
.benefit__item {
  display: flex;
  flex-direction: column;
  margin: 0px calc(15px + (35 - 15) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px;
  @media(min-width:1600px){
    margin: 0px 35px 0px 35px;
  }
  @media(max-width:1024px){
    margin: 0px 15px 0px 35px;
  }
  &:first-child{
    margin:0px 0px 0px calc(15px + (35 - 15) * ((100vw - 1024px) / (1600 - 1024)));
    @media(min-width:1600px){
      margin: 0px 35px 0px 0px;
    }
    @media(max-width:1024px){
      margin: 0px 15px 0px 0x;
    }

  }
  &:last-child{

    margin: 0px calc(15px + (35 - 15) * ((100vw - 1024px) / (1600 - 1024))) 0px 0px;
    @media(min-width:1600px){
      margin: 0px 0px 0px 35px;
    }
    @media(max-width:1024px){
      margin: 0px 0px 0px 15px;
    }
  }
}
.benefit__title {
  width: fit-content;
    margin: auto;
  font-style: normal;
font-weight: 450;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.1em;
color: #272727;
text-transform: uppercase;
}
.benefit__num {
font-style: normal;
font-weight: 450;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.1em;
color: #272727;
}
.benefit__h2 {
  white-space: nowrap;
  font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #272727;
margin: 10px 0px 0px 0px;
}
.benefit__h3 {
  font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #272727;
padding: 16px 0px 0px 0px;

}


.item-slider {
}
.swiper-container {
}
.item-slider__wrapper {
}
.swiper-wrapper {
}
.item-slider__slide {
  position: relative;
}
.swiper-slide {
}
.proj-block__position {
}
.proj-img__item {
}
.proj__block {
}
.proj-item__cont {
  position: absolute;
  top: 40px;
  left: 40px;
}
.proj__title {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.navforslider {
}
.navforslider2 {
}
.swiper-button-prev {
  margin: 40px;
  img{
    filter: invert(1);
  }
}
.swiper-pagination {
}
.swiper-button-next {
  margin: 40px;
  img{
    filter: invert(1);
  }
}